In [1]:
import pandas as pd
import csv

In [2]:
hbo_original = pd.read_csv("../Documents/hbo_content_definitivo.csv")

In [3]:
hbo = hbo_original.copy()

In [4]:
hbo.columns

Index(['Unnamed: 0', 'alternate_titles', 'artwork_208x117', 'artwork_304x171',
       'artwork_448x252', 'artwork_608x342', 'container_show', 'first_aired',
       'freebase', 'id', 'imdb_id', 'themoviedb', 'title', 'tvdb', 'tvrage',
       'wikipedia_id'],
      dtype='object')

In [24]:
hbo = hbo.drop(["Unnamed: 0", "alternate_titles", "artwork_208x117", "artwork_304x171", "artwork_448x252", "artwork_608x342", "container_show", "first_aired", "freebase", "id", "themoviedb", "tvdb", "tvrage", "wikipedia_id"], axis=1)

KeyError: "['Unnamed: 0' 'alternate_titles' 'artwork_208x117' 'artwork_304x171'\n 'artwork_448x252' 'artwork_608x342' 'container_show' 'first_aired'\n 'freebase' 'id' 'themoviedb' 'tvdb' 'tvrage' 'wikipedia_id'] not found in axis"

In [6]:
hbo['Streaming_platform']='HBO'

In [7]:
hbo["Title"] = hbo["title"]
hbo["IMDb_id"] = hbo["imdb_id"]

In [8]:
hbo = hbo.drop(["title", "imdb_id"], axis=1)

In [9]:
hbo.head()

  Streaming_platform            Title    IMDb_id
0                HBO  Game of Thrones  tt0944947
1                HBO        Westworld  tt0475784
2                HBO   Silicon Valley  tt2575988
3                HBO            Barry  tt5348176
4                HBO     The Sopranos  tt0141842

In [10]:
netflix_original = pd.read_csv("../Documents/netflix_content_definitivo_1.csv")

In [11]:
netflix = netflix_original.copy()

In [12]:
netflix = netflix.drop(["Unnamed: 0", "alternate_titles", "artwork_208x117", "artwork_304x171", "artwork_448x252", "artwork_608x342", "container_show", "first_aired", "freebase", "id", "themoviedb", "tvdb", "tvrage", "wikipedia_id"], axis=1)

In [13]:
netflix['Streaming_platform']='Netflix'

In [14]:
netflix = netflix[['title', 'imdb_id', 'Streaming_platform']]

In [15]:
netflix["Title"] = netflix["title"]
netflix["IMDb_id"] = netflix["imdb_id"]

In [16]:
netflix = netflix.drop(["title", "imdb_id"], axis=1)

In [17]:
df = hbo.append(netflix, ignore_index=True)

In [18]:
df["IMDb_id"] = df.IMDb_id.str.replace("tt","")

In [19]:
df.head()

  Streaming_platform            Title  IMDb_id
0                HBO  Game of Thrones  0944947
1                HBO        Westworld  0475784
2                HBO   Silicon Valley  2575988
3                HBO            Barry  5348176
4                HBO     The Sopranos  0141842

In [20]:
df.dtypes

Streaming_platform    object
Title                 object
IMDb_id               object
dtype: object

In [22]:
df.columns

Index(['Streaming_platform', 'Title', 'IMDb_id'], dtype='object')

In [23]:
df.to_csv('titles_and_imdb-id.csv')