In [54]:
import pandas as pd
import csv

In [55]:
def give_url(column):
    
    list_imdb_url = []
    for imdb_url in column:
        base_url = 'https://www.imdb.com/title/tt{}/reviews?ref_=tt_urv'.format(imdb_url)
    return list_imdb_url.append(base_url)

In [56]:
df = pd.read_csv("titles_and_imdb-id.csv")

In [57]:
df.head()

   Unnamed: 0 Streaming_platform            Title    IMDb_id
0           0                HBO  Game of Thrones   944947.0
1           1                HBO        Westworld   475784.0
2           2                HBO   Silicon Valley  2575988.0
3           3                HBO            Barry  5348176.0
4           4                HBO     The Sopranos   141842.0

In [58]:
df.dtypes

Unnamed: 0              int64
Streaming_platform     object
Title                  object
IMDb_id               float64
dtype: object

In [59]:
df = df.drop(["Unnamed: 0"], axis=1)

In [63]:
df = df.dropna(subset=['IMDb_id'])

In [64]:
df.IMDb_id = df.IMDb_id.astype(int)
df.head()

/home/marta/miniconda3/envs/final_project/lib/python3.7/site-packages/pandas/core/generic.py:5209: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

  Streaming_platform            Title  IMDb_id
0                HBO  Game of Thrones   944947
1                HBO        Westworld   475784
2                HBO   Silicon Valley  2575988
3                HBO            Barry  5348176
4                HBO     The Sopranos   141842

In [66]:
print(give_url(streaming_platforms["IMDb_id"]))

None